:root {
    // --main-font: "Computer Modern Serif", serif;
    --main-font: UniversCondensed, arial, sans-serif;
    --ncsu-red: #c00;
    --ncsu-red-dark: #900;
    --ncsu-red-light: #df5c63;
    --ncsu-black: #333;
    --ncsu-black-dark: rgb(78, 78, 78);
    --ncsu-info: #427e93;
    --ncsu-info-dark: #326070;
    --nscu-success: #7d8c1f;
    --ncsu-success-dark: #586216;
    --ncsu-warning: #d14905;
    --ncsu-warning-dark: #9f3804;
    --ncsu-danger: #900;
    --ncsu-danger-dark: #600;
}

$navbar-height: 6rem;
$navbar-width: 12rem;
$navbar-items: 7;
$profile-icon-width: 10rem;

$menu-icon__line-height: 0.3rem;
$navbar-background: black;
$navbar-background-dark: var(--ncsu-black);
$navbar-dropdown-background: white;

$navbar-container-z-index: 500;
$menu-icon-z-index: 501;
$navbar-body-z-index: 502;
$navbar-dropdown-z-index: 503;
$profile-icon-z-index: 505;

$carousel-cell-height: 28rem;
$carousel-cell-width: 45rem;

body {
    height: 100%;
    margin: 10rem, 10rem;
}

​ .navbar-container {
    display: block;
    left: 0;

    top: 0;
    z-index: $navbar-container-z-index;
}

.menu-icon {
    align-items: center;
    background-color: $navbar-background;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 1rem;
    position: relative;
    transition: 200ms ease-in;

    &:hover {
        .menu-icon__line {
            background-color: rgb(233, 182, 191);
            transform: scaleX(1.2);
        }
    }

    a {
        z-index: $menu-icon-z-index;
    }
}

.menu-icon__line {
    background-color: rgb(255, 200, 210);

    height: $menu-icon__line-height;
    margin: $menu-icon__line-height/2;
    position: relative;
    transition: 100ms ease-out;
    width: $navbar-width/3;
    z-index: $menu-icon-z-index;
}

.active {
    position: relative;

    > .menu-icon__line:nth-child(1) {
        transform: translateY(2 * $menu-icon__line-height) rotateZ(45deg);
    }

    > .menu-icon__line:nth-child(2) {
        opacity: 0;
    }

    > .menu-icon__line:nth-child(3) {
        transform: translateY(-2 * $menu-icon__line-height) rotateZ(-45deg);
    }
}

.navbar-affixed {
    opacity: 0.1;
    transition: 1s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(5deg);
    }
    55% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(0deg);
    }
}

.navbar-body {
    background-color: $navbar-background;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-size: 1rem;
    align-content: center;
    justify-content: center;
    list-style: none;
    position: relative;
    width: 100%;
    z-index: $navbar-body-z-index;

    &:hover {
        li {
            .navbar-main {
                .icon.home {
                    color: #ff5757;
                }

                .icon.work {
                    color: rgb(250, 200, 36);
                }
            }
        }
    }

    li {
        margin: 0 2rem;
        border-left: 1px solid rgba(255, 255, 255, 0.25);
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        height: $navbar-height;

        transition: 200ms ease-in;

        .navbar-main {
            height: $navbar-height;
            display: grid;
            grid-template-areas:
                "a"
                "b";
            grid-template-rows: 4fr 1fr;

            align-content: center;
            justify-content: center;
            text-align: center;

            .icon {
                font-size: 3rem;
                grid-area: "a";
                text-shadow: -3px 3px 2px rgba(70, 70, 70, 0.5);
            }

            .description {
                grid-area: "b";
            }
            &:hover {
                animation: wiggle 1s;
            }
        }

        &:hover {
            background-color: $navbar-background-dark;

            > .navbar-dropdown {
                line-height: $navbar-height;
                background-color: $navbar-background;
                text-align: center;

                width: 100%;
                font-size: 2rem;
            }

            > .fa-arrow-right {
                transform: scale(0.8) translateX(0.3rem);
            }
        }

        &.selected {
            background: $navbar-background-dark;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        .fa-arrow-right {
            margin: 0 0.2rem;
            transform: scale(0.8);
            transition: transform 200ms ease-in;
        }
    }
}

.profile-icon-wrap-sm {
    margin: auto;

    img {
        height: $navbar-height;
        z-index: 1001;
    }
}

.slide-toggle {
    height: 0rem;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

@media (min-width: 768px) {
    .navbar-body {
        display: flex;
        flex-direction: row;
        height: $navbar-height;
        margin: 0;
        padding: 0;
        width: 100%;

        &.slide-toggle {
            height: 100%;
            overflow: visible;
        }

        li {
            width: $navbar-width;
            position: relative;

            > .navbar-dropdown {
            }

            &:hover {
                > .navbar-dropdown {
                    align-items: center;

                    display: flex;
                    top: 0;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 auto;
                    overflow: visible;
                    padding: 0;
                }

                > .navbar-dropdown {
                    li:hover {
                        > .navbar-dropdown {
                            align-items: center;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 100%;
                            margin-top: -$navbar-height;
                            padding: 0;
                            position: absolute;
                        }
                    }
                }
            }
        }

        > li:nth-of-type(2) {
            margin-left: $profile-icon-width - 2 * $navbar-height;
        }
    }

    .menu-icon {
        display: none;
    }

    .profile-icon-wrap-sm {
        left: 0;
        position: absolute;
        top: 0;

        img {
            height: $navbar-height;
            z-index: 1001;
        }
    }
}

.navbar-dropdown {
    display: none;

    list-style: none;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: $navbar-dropdown-z-index;
}

li:hover {
    > .navbar-dropdown {
        li {
            animation-duration: 400ms;
            animation-name: navbar-drop-2;
            animation-timing-function: cubic-bezier(0.09, 0.91, 0.5, 1.1);
            opacity: 1;
        }
    }
}

@keyframes navbar-drop-1 {
    0% {
        transform: translateY($navbar-height) rotateY(-90deg);
    }

    100% {
        transform: translateY(0) rotateY(0);
    }
}

@keyframes navbar-drop-2 {
    0% {
        transform: translateY($navbar-height);
    }

    100% {
        transform: translateY(0);
    }
}

.btn-prime {
    align-items: center;
    background-color: var(--ncsu-red);
    border: none;

    color: white;
    display: flex;
    font-family: var(--main-font);
    font-size: 3.5rem;

    justify-content: center;
    line-height: 2.5rem;
    margin: 0;
    padding: 1rem;
    transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 13rem;

    &:hover {
        background-color: var(--ncsu-red-dark);
    }
}

.btn-second {
    align-items: center;
    background-color: var(--ncsu-black);
    border: none;

    color: white;
    display: flex;
    font-family: var(--main-font);
    font-size: 1.2rem;
    justify-content: center;
    line-height: 2.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.2rem;
    transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 10rem;

    &:hover {
        background-color: var(--ncsu-black-dark);
    }
}

.title-container {
    height: 15rem;
    width: 100%;
    display: grid;

    grid-template-areas:
        "a"
        "b";
    grid-template-columns: 1fr;
    grid-template-rows: 25fr 1fr;
    align-content: stretch;
    margin-bottom: 40rem;
    position: relative;

    .title {
        grid-area: "a";
        font-family: UniversCondensed, arial, sans-serif;
        font-weight: bold;
        text-shadow: -3px 3px 2px rgba(51, 51, 51, 0.5);
        margin: auto;
        width: 100%;

        border-bottom-right-radius: 20rem;
        // border-top-left-radius: 20rem;

        font-size: 10rem;
        text-align: center;
        height: 100%;

        color: black;

        // background: linear-gradient(to right, #ff5959, #cc0000);
    }
}

.start-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-family: var(--main-font);
    justify-content: center;
    position: relative;
    z-index: 0;
    margin: 0;
}

.distribute-cards-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-family: var(--main-font);
    justify-content: center;
    position: relative;
    z-index: 0;
}

.distribute-cards {
    font-family: var(--main-font);

    padding: 0;
    position: relative;
    transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;

    .origin {
        position: relative;
        z-index: 2;
    }

    .cards :nth-child(n) {
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        opacity: 0;

        transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms,
            opacity 1s;
        z-index: 1;
    }
}

.scene {
    align-items: center;
    background-color: none;

    box-shadow: 6px 6px 6px 2px rgb(49, 49, 49);
    display: flex;

    height: $carousel-cell-height;
    justify-content: center;
    background-color: black;

    margin: 0 auto;
    padding: 0;
    perspective: 500px;
    position: relative;
    width: $carousel-cell-width;
}

.carousel {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel-cell {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid white;

    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-size: 2rem;
    height: $carousel-cell-height;
    justify-content: center;
    opacity: 0.9;
    padding: 1rem;
    position: absolute;
    text-align: left;

    transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms, opacity 1s;
    vertical-align: middle;
    width: $carousel-cell-width;

    p {
        display: flex;
        font-size: 1.5rem;
        justify-content: left;
    }

    .title {
        font-size: 3rem;
        text-decoration: underline;
    }

    .image {
    }

    .description {
        font-size: 1rem;
    }
}

@keyframes box-float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translateY(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }
}

.floating {
    animation: box-float 3s ease-in-out 0s infinite forwards;
}

.centered {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

hr {
    background-color: black;
    border: 0.1rem solid black;

    display: block;
    height: 1px;
    margin: 1rem;
}

#background {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: -1;
}

.dark-mode {
    background-color: black;
    color: white;
}

.main-content {
    height: 100%;
    padding: 2rem;
    margin: 1rem;
    position: relative;

    .title-content-lg {
        margin: 2rem;
        padding: 0;
        color: black;
        .title {
            line-height: 6rem;
            font-size: 8rem;
            font-family: var(--main-font);
            text-align: left;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .description {
            font-family: var(--main-font);
            text-align: left;
            font-size: 2rem;
            font-weight: 10;
        }
    }

    .title-content-md {
        margin: 2rem;
        padding: 0;
        color: black;
        .title {
            font-size: 6rem;
            font-family: var(--main-font);
            text-align: left;
            font-weight: bold;
        }

        .description {
            font-family: var(--main-font);
            text-align: left;
            font-size: 1rem;
            font-weight: 10;
        }
    }

    .content-cell-font {
        font-family: var(--main-font);
        font-size: 1.5rem;
    }

    .content-cell {
        display: flex;
        flex-direction: column;
        border: 1px solid transparent;

        border: 1px solid rgb(160, 160, 160);
        box-shadow: 6px 6px 6px 2px #ccc;
        box-sizing: border-box;
        padding: 1rem;
        transition: cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
        width: 100%;

        .title {
            font-family: var(--main-font);
            font-size: 2.5rem;
            margin-bottom: 0.2rem;
            font-style: bold;
            font-weight: 100;
        }

        .content {
        }

        .description {
            padding: 0;
            margin: auto;

            font-size: 1rem;
            font-style: italic;
            &:hover {
                animation: wiggle 1s;
            }
        }
    }

    iframe {
        height: 100%;
        width: 100%;
    }

    .side-right {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .image {
            height: 15rem;
            object-fit: cover;
            object-position: 100% 40%;
            width: 15rem;
        }

        .description {
            color: black;
            display: flex;
            font-family: var(--main-font);
            font-size: 2rem;
            font-style: italic;
            font-weight: 100;
            justify-content: center;
        }
    }
}

.grid-layout-1 {
    column-gap: 1rem;
    display: grid;

    grid-template-areas:
        "h h h"
        "a a pa"
        "b b pb"
        "c c pc";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;

    row-gap: 1rem;
}

.grid-layout-2 {
    column-gap: 1rem;
    display: grid;

    grid-template-areas:
        "h"
        "a"
        "b";
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    row-gap: 0.5rem;
}

.grid-layout-3 {
    column-gap: 1rem;
    display: grid;

    grid-template-areas:
        "h"
        "b"
        "c";

    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

.grid-layout-4 {
    column-gap: 1rem;
    display: grid;

    grid-template-areas:
        "h h h h"
        "a a b b"
        "c c d d";

    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
