@charset "UTF-8";
:root {
  --main-font: UniversCondensed, arial, sans-serif;
  --ncsu-red: #c00;
  --ncsu-red-dark: #900;
  --ncsu-red-light: #df5c63;
  --ncsu-black: #333;
  --ncsu-black-dark: rgb(78, 78, 78);
  --ncsu-info: #427e93;
  --ncsu-info-dark: #326070;
  --nscu-success: #7d8c1f;
  --ncsu-success-dark: #586216;
  --ncsu-warning: #d14905;
  --ncsu-warning-dark: #9f3804;
  --ncsu-danger: #900;
  --ncsu-danger-dark: #600;
}

body {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

​ .navbar-container {
  display: block;
  left: 0;
  top: 0;
  z-index: 500;
}

.menu-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  position: relative;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.menu-icon:hover .menu-icon__line {
  background-color: #e9b6bf;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

.menu-icon a {
  z-index: 501;
}

.menu-icon__line {
  background-color: #ffc8d2;
  height: 0.3rem;
  margin: 0.15rem;
  position: relative;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
  width: 4rem;
  z-index: 501;
}

.active {
  position: relative;
}

.active > .menu-icon__line:nth-child(1) {
  -webkit-transform: translateY(0.6rem) rotateZ(45deg);
          transform: translateY(0.6rem) rotateZ(45deg);
}

.active > .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.active > .menu-icon__line:nth-child(3) {
  -webkit-transform: translateY(-0.6rem) rotateZ(-45deg);
          transform: translateY(-0.6rem) rotateZ(-45deg);
}

.navbar-affixed {
  opacity: 0.1;
  -webkit-transition: 1s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  55% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  55% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.navbar-body {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--main-font);
  font-size: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  position: relative;
  width: 100%;
  z-index: 502;
}

.navbar-body:hover li .navbar-main .icon.home {
  color: #ff5757;
}

.navbar-body:hover li .navbar-main .icon.work {
  color: #fac824;
}

.navbar-body li {
  margin: 0 2rem;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  height: 6rem;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.navbar-body li .navbar-main {
  height: 6rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a" "b";
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.navbar-body li .navbar-main .icon {
  font-size: 3rem;
  grid-area: "a";
  text-shadow: -3px 3px 2px rgba(70, 70, 70, 0.5);
}

.navbar-body li .navbar-main .description {
  grid-area: "b";
}

.navbar-body li .navbar-main:hover {
  -webkit-animation: wiggle 1s;
          animation: wiggle 1s;
}

.navbar-body li:hover {
  background-color: var(--ncsu-black);
}

.navbar-body li:hover > .navbar-dropdown {
  line-height: 6rem;
  background-color: black;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

.navbar-body li:hover > .fa-arrow-right {
  -webkit-transform: scale(0.8) translateX(0.3rem);
          transform: scale(0.8) translateX(0.3rem);
}

.navbar-body li.selected {
  background: var(--ncsu-black);
}

.navbar-body li a {
  color: inherit;
  text-decoration: none;
}

.navbar-body li .fa-arrow-right {
  margin: 0 0.2rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.profile-icon-wrap-sm {
  margin: auto;
}

.profile-icon-wrap-sm img {
  height: 6rem;
  z-index: 1001;
}

.slide-toggle {
  height: 0rem;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@media (min-width: 768px) {
  .navbar-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 6rem;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .navbar-body.slide-toggle {
    height: 100%;
    overflow: visible;
  }
  .navbar-body li {
    width: 12rem;
    position: relative;
  }
  .navbar-body li:hover > .navbar-dropdown {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
  }
  .navbar-body li:hover > .navbar-dropdown li:hover > .navbar-dropdown {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 100%;
    margin-top: -6rem;
    padding: 0;
    position: absolute;
  }
  .navbar-body > li:nth-of-type(2) {
    margin-left: -2rem;
  }
  .menu-icon {
    display: none;
  }
  .profile-icon-wrap-sm {
    left: 0;
    position: absolute;
    top: 0;
  }
  .profile-icon-wrap-sm img {
    height: 6rem;
    z-index: 1001;
  }
}

.navbar-dropdown {
  display: none;
  list-style: none;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 503;
}

li:hover > .navbar-dropdown li {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-name: navbar-drop-2;
          animation-name: navbar-drop-2;
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.91, 0.5, 1.1);
          animation-timing-function: cubic-bezier(0.09, 0.91, 0.5, 1.1);
  opacity: 1;
}

@-webkit-keyframes navbar-drop-1 {
  0% {
    -webkit-transform: translateY(6rem) rotateY(-90deg);
            transform: translateY(6rem) rotateY(-90deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
  }
}

@keyframes navbar-drop-1 {
  0% {
    -webkit-transform: translateY(6rem) rotateY(-90deg);
            transform: translateY(6rem) rotateY(-90deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateY(0);
            transform: translateY(0) rotateY(0);
  }
}

@-webkit-keyframes navbar-drop-2 {
  0% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navbar-drop-2 {
  0% {
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn-prime {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--ncsu-red);
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font);
  font-size: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2.5rem;
  margin: 0;
  padding: 1rem;
  -webkit-transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 13rem;
}

.btn-prime:hover {
  background-color: var(--ncsu-red-dark);
}

.btn-second {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--ncsu-black);
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font);
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 2.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.2rem;
  -webkit-transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 10rem;
}

.btn-second:hover {
  background-color: var(--ncsu-black-dark);
}

.title-container {
  height: 15rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a" "b";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 25fr 1fr;
      grid-template-rows: 25fr 1fr;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

.title-container .title {
  grid-area: "a";
  font-family: UniversCondensed, arial, sans-serif;
  font-weight: bold;
  text-shadow: -3px 3px 2px rgba(51, 51, 51, 0.5);
  margin: auto;
  width: 100%;
  border: 1px solid black;
  border-bottom-right-radius: 20rem;
  font-size: 10rem;
  text-align: center;
  height: 100%;
  line-height: 15rem;
  color: black;
}

.title-container #logo canvas {
  grid-area: "a";
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  z-index: -1;
  top: 0;
  background: transparent;
}

.start-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: var(--main-font);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
  margin: 0;
}

.distribute-cards-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: var(--main-font);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 0;
}

.distribute-cards {
  font-family: var(--main-font);
  padding: 0;
  position: relative;
  -webkit-transition: -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  transition: -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms, -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
}

.distribute-cards .origin {
  position: relative;
  z-index: 2;
}

.distribute-cards .cards :nth-child(n) {
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms;
  transition: opacity 1s, -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms;
  transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms, opacity 1s;
  transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms, opacity 1s, -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms;
  z-index: 1;
}

.scene {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  -webkit-box-shadow: 6px 6px 6px 2px #313131;
          box-shadow: 6px 6px 6px 2px #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  -webkit-perspective: 500px;
          perspective: 500px;
  position: relative;
  width: 56rem;
}

.carousel {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.carousel-cell {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--main-font);
  font-size: 2rem;
  height: 35rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.9;
  padding: 1rem;
  position: absolute;
  text-align: left;
  -webkit-transition: opacity 1s, -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms;
  transition: opacity 1s, -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms;
  transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms, opacity 1s;
  transition: transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms, opacity 1s, -webkit-transform cubic-bezier(0.09, 0.91, 0.5, 1.1) 700ms;
  vertical-align: middle;
  width: 56rem;
}

.carousel-cell p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.carousel-cell .title {
  font-size: 3rem;
  text-decoration: underline;
}

.carousel-cell .image {
  height: 24.5rem;
  width: 39.2rem;
}

.carousel-cell .description {
  font-size: 1rem;
}

@-webkit-keyframes box-float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes box-float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.floating {
  -webkit-animation: box-float 3s ease-in-out 0s infinite forwards;
          animation: box-float 3s ease-in-out 0s infinite forwards;
}

.centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

hr {
  background-color: black;
  border: 0.1rem solid black;
  display: block;
  height: 1px;
  margin: 1rem;
}

#background {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  z-index: -1;
}

.dark-mode {
  background-color: black;
  color: white;
}

.align-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.align-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.main-content {
  height: 100%;
  padding: 2rem;
  margin: 1rem;
  position: relative;
}

.main-content .title-content-lg {
  margin: 2rem;
  padding: 0;
  color: black;
}

.main-content .title-content-lg .title {
  line-height: 6rem;
  font-size: 8rem;
  font-family: var(--main-font);
  text-align: left;
  font-weight: bold;
  margin-bottom: 2rem;
}

.main-content .title-content-lg .description {
  font-family: var(--main-font);
  text-align: left;
  font-size: 2rem;
  font-weight: 10;
}

.main-content .title-content-md {
  margin: 2rem;
  padding: 0;
  color: black;
}

.main-content .title-content-md .title {
  font-size: 6rem;
  font-family: var(--main-font);
  text-align: left;
  font-weight: bold;
}

.main-content .title-content-md .description {
  font-family: var(--main-font);
  text-align: left;
  font-size: 1rem;
  font-weight: 10;
}

.main-content .content-cell-font {
  font-family: var(--main-font);
  font-size: 1.5rem;
}

.main-content .content-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid transparent;
  border: 1px solid #a0a0a0;
  -webkit-box-shadow: 6px 6px 6px 2px #ccc;
          box-shadow: 6px 6px 6px 2px #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  -webkit-transition: cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
  transition: cubic-bezier(0.09, 0.91, 0.5, 1.1) 500ms;
}

.main-content .content-cell .title {
  font-family: var(--main-font);
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  font-style: bold;
  font-weight: 100;
}

.main-content .content-cell .content {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.main-content .content-cell .content .image {
  overflow: hidden;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 15rem;
}

.main-content .content-cell .description {
  padding: 0;
  margin: auto;
  font-size: 1rem;
  font-style: italic;
}

.main-content .content-cell .description:hover {
  -webkit-animation: wiggle 1s;
          animation: wiggle 1s;
}

.main-content iframe {
  height: 100%;
  width: 100%;
}

.main-content .side-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #a0a0a0;
}

.main-content .side-right .image {
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 40%;
     object-position: 100% 40%;
  width: 15rem;
}

.main-content .side-right .description {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font);
  font-size: 2rem;
  font-style: italic;
  font-weight: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-layout-1 {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h h h" "a a pa" "b b pb" "c c pc";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr;
  row-gap: 1rem;
}

.grid-layout-2 {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h" "a";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 2fr;
      grid-template-rows: 0.5fr 2fr;
  row-gap: 0.5rem;
}

.grid-layout-3 {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h h" "b c";
  -ms-grid-columns: 1fr 0.2fr;
      grid-template-columns: 1fr 0.2fr;
  -ms-grid-rows: 0.5fr 1fr;
      grid-template-rows: 0.5fr 1fr;
}

.grid-layout-4 {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h h h h h" "a a a k k" "a a a b b" "i i j j j" "c c j j j";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  -ms-grid-rows: 0.5fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
}

.grid-layout-5 {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "h h h" "a a pa" "b b b" "c c c";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 1fr 2fr 1fr;
      grid-template-rows: 0.5fr 1fr 2fr 1fr;
  row-gap: 1rem;
}
/*# sourceMappingURL=style.css.map */